* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 80%;
    margin: auto;
}
nav img {
    height: 30px;
}
nav i {
    font-size: 25px;
}
nav .dropdown {
    position: relative;
    cursor: pointer;
}
nav .dropdownitem  {
    position: absolute;
    background-color: whitesmoke;
    width: 130px;
    padding: 10px 5px 0;
    box-shadow: 0 0 20px gray ;
    margin-top: 5px;
    display: none;
}
.dropdownitem a {
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 15px;
}
.dropdownitem a:hover {
    padding-left: 20px;
    transition: 0.9s;
    background-color: gainsboro;
}
.dropdownitem hr {
    margin-bottom: 10px;
}
.dropdown:hover .dropdownitem{
    display: block;
    
}
@media(max-width:944PX){
    nav .dropdownitem {
        right: 10px;
    }
}
header {
    background-image: url('./images-project/landing.jpg');
    height: 92vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1 {
    color: rgb(46, 226, 199);
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}
header h4 {
    font-weight: 100;
}
header div {
    text-align: center;
}
.h4 {
    width: 60%;
    margin: auto;
    line-height: 30px;
    font-size: 20px;
}
.section1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: whitesmoke;
    padding: 50px;
    gap: 10px;
}
.section1 i {
    font-size: 50px;
    margin-bottom: 25px;
    color: rgb(46, 226, 199);
}
.section1 h2 {
    margin-bottom: 30px;
    font-size: 20px;
}
.section1 p {
    width: 54%;
    margin: auto;
    line-height: 33px;
    font-size: 17px;
    color: gray;
}
@media(max-width:1000px){
    .section1 {
        flex-direction: column;
    }
    .section1 p{
        width: 80%;
    }
}
















.section2 {
    
    margin-top: 200px;
    padding: 0 100px;
    margin-bottom: 90px;
}
.section2 .texts {
    text-align: center;
    transform: translateY(-100px);
}
.section2 .texts h1 {
    font-size: 90px;
    font-weight:900;
    color: rgba(128, 128, 128, 0.308);
}
.section2 .texts p {
    color: gray;
    transform: translateY(-33px);
    font-size: 20px;
}
.continuer {
    display: flex;
    justify-content: space-around;
}

.section2 i {
    color: rgb(46, 226, 199);
    font-size: 35px;
    margin-right: 20px;
    
}
.block {
    display: grid;
    grid-template-columns: repeat(2,auto);
    
}
.block article {
    width: 70%;
}
.block article div {
    margin-bottom: 20px;
}
.block p {
    color: gray;
    line-height: 30px;
    margin-bottom: 10px;
}
.block span {
    font-weight: 700;
    font-size: 20px;
}
.section2 aside {
    position: relative;
}
.section2 aside::before {
    content: "";
    height: 400px;
    width: 100px;
    background-color: rgb(55, 55, 55);
    position: absolute;
    top: -20%;
    right: -20%;
}
.section2 aside img {
    height: 300px;
    position: relative;
}

.section3 {
    width: 100%;
    margin-bottom: 50px;
    background-color: whitesmoke;
    padding: 50px;
}
.section3 .texts {
    margin-bottom: 60px;
    text-align: center;
}
.section3 .texts h1 {
    font-size: 100px;
    letter-spacing: 2px;
    color: rgba(128, 128, 128, 0.308);
    font-weight: 700;
}
.section3 .texts p {
    color: gray;
    transform: translateY(-23px);
}
.content {
    
    display: flex;
    justify-content: center;

}
.section3 article {
    width: 23%;
    background-color: white;
    
}
.section3 article img {
    width: 100%;
}
.section3 article p {
    width: 300px;
}
.section3 .content  .center {
    margin: 0 30px;
}
.section3 article div {
    padding: 20px;
}

.section4 .Content2 {
    display: flex;
    padding: 50px;
}
.section4 .Content2 hr {
    background-color:rgb(46, 226, 199);
    height: 2.5px;
    width: 50%;
    margin: 40px 0 20px;
    border: none;
}
.section4 article {
    width: 40%;
    margin: auto;
}
.section4 article p {
    line-height: 35px;
}
.section4 article .text2 {
    color: gray;
}
.section4 article .text {
    font-weight: 550;
}
.section4 aside {
    position: relative;
}
.section4 aside::before {
    content: "";
    height: 490px;
    width: 100px;
    background-color: rgb(215, 215, 215);
    position: absolute;
    z-index: -1;
    right: 210px;
    top: -30px;
}
.section4 aside h1 {
    font-size: 470px;
    font-weight: 900;
    position: absolute;
    right: -200px;
    top: -49%;
    z-index: -1;
    color: rgb(46, 226, 199);
}
.section4 .texts {
    text-align: center;
    margin-bottom: 30px;
}
.section4 .texts h1 {
    font-size: 100px;
    color: rgba(128, 128, 128, 0.308) ;
}
.section4 .texts p {
    color: gray;
    transform: translateY(-30px);
}

.section5 {
    text-align: center;
    background-color: whitesmoke;
    padding: 50px;
    margin-top: 40px;
}
.section5 .texts {
    margin-bottom: 50px;
}
.section5 .texts h1 {
    color: rgba(128, 128, 128, 0.308);
    font-size: 100px;
}
.section5 p {
    color: gray;
    transform: translateY(-30px);
}
.section5 article h1 {
    font-size: 35px;
    color: rgb(58, 58, 58);
    margin-bottom: 10px;
}
.section5 article h1 a {
    color: rgb(46, 226, 199);
    text-decoration: none;
}
.section5 article p {
    font-weight: 100;
    font-size: 13px;
    margin-bottom: 50px;
}

footer {
    text-align: center;
    background-color: rgb(8, 40, 65);
    color: white;
    padding: 30px;
}
footer span {
    color: rgb(46, 226, 199);
}